@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0b1124;
}

.slider-wrapper {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 0px 55px;
}

.swiper-wrapper {
    align-items:flex-end;
    /* transition:all 200ms linear;
    transform: scale(0.4); */
}


.card-list .card-item {
    user-select: none;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card-list .card-item .card-img {
    width: 119px;
    height: 119px;
    object-fit: cover;
    border-radius: 50%;
    cursor: grab;
    margin-bottom: 70px;
    scale: 1;
    transition: all 1s ease;
}

.card-list .card-item .overly-text {
    display: none;
}

.card-list .swiper-slide-next .card-img {
    width: 119px;
    height: 290px;
    aspect-ratio: 9/19.5;
    object-fit: cover;
    border-radius: 8px;
    cursor: grab;
    scale: 1.5;
}

.card-list .swiper-slide-next .overly-text {
    position: absolute;
    bottom: 0;
    width: 119px;
    height: calc(290px/3.45);
    background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.7), rgba(0,0,0,0.5), rgba(0,0,0,0));
    border-radius: 7px;
    color: white;
    scale: 1.5;

    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding-bottom: 10px;
}

.overly-text h2 {
    font-size: 15px;
}.overly-text p {
    font-size: 8px;
    margin-bottom: 10px;
}

.slider-wrapper .swiper-pagination-bullet {
    background-color: #fff;
    height: 15px;
    width: 15px;
}

.slider-wrapper .swiper-slide-button {
    color: #fff;
    margin-top: -50px;
    transition: 0.2s ease;
}

.slider-wrapper .swiper-slide-button:hover {
    color: #4658ff;
}

/* @media (max-width: 768px) {
    .slider-wrapper {
        margin: 0 10px 40px;
    }

    .slider-wrapper .swiper-slide-button {
        display: none;
    }

    .card-list .card-item .card-img {
        width: 257px;
        height: 556px;
    }
    
    .card-list .card-item .overly-text {
        width: 257px;
        height: calc(556px/3.45);
    }
} */
.slider-wrapper .swiper-slide-button {
    display: none;
}